<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317030118714-hnideoe5fof1ko36up4v1gsju413q9ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317030118714-hnideoe5fof1ko36up4v1gsju413q9ic</string>
	<key>API_KEY</key>
	<string>AIzaSyDEh7thEShRo3W93tyhDGJtTKNNytwdzwo</string>
	<key>GCM_SENDER_ID</key>
	<string>317030118714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireApp</string>
	<key>PROJECT_ID</key>
	<string>fireapp-a5221</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-a5221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317030118714:ios:61f3d2569f96c841544c03</string>
</dict>
</plist>